# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
projects/ws-tester/tslint.json
projects/ws-tester/tsconfig.spec.json
projects/ws-tester/tsconfig.app.json
projects/ws-tester/src/test.ts
projects/ws-tester/src/styles.css
projects/ws-tester/src/polyfills.ts
projects/ws-tester/src/main.ts
projects/ws-tester/src/index.html
projects/ws-tester/src/favicon.ico
projects/ws-tester/src/environments/environment.ts
projects/ws-tester/src/environments/environment.prod.ts
projects/ws-tester/src/assets/.gitkeep
projects/ws-tester/src/app/websocket.service.ts
projects/ws-tester/src/app/websocket.service.spec.ts
projects/ws-tester/src/app/message.model.ts
projects/ws-tester/src/app/app.module.ts
projects/ws-tester/src/app/app.component.ts
projects/ws-tester/src/app/app.component.spec.ts
projects/ws-tester/src/app/app.component.html
projects/ws-tester/src/app/app.component.css
projects/ws-tester/karma.conf.js
projects/ws-tester/browserslist
projects/ws-tester-e2e/tsconfig.e2e.json
projects/ws-tester-e2e/src/app.po.ts
projects/ws-tester-e2e/src/app.e2e-spec.ts
projects/ws-tester-e2e/protractor.conf.js
projects/mus-e2e/tsconfig.e2e.json
projects/mus-e2e/src/app.po.ts
projects/mus-e2e/src/app.e2e-spec.ts
projects/mus-e2e/protractor.conf.js
projects/mus/src/favicon.ico
projects/mus/src/environments/environment.ts
projects/mus/src/environments/environment.prod.ts
projects/mus/src/assets/images/nahasketa.jpg
projects/mus/src/assets/images/musean.jpeg
projects/mus/src/assets/icons/sword-suit.svg
projects/mus/src/assets/icons/gold-coin.svg
projects/mus/src/assets/icons/cups-suit.svg
projects/mus/src/assets/icons/clubs-suit.svg
projects/mus/src/assets/.gitkeep
projects/mus/karma.conf.js
projects/mus/browserslist
package.json
package-lock.json
angular.json
package.json
package-lock.json
angular.json
